<div class="container">
    <form [formGroup]="_formGroup">
      <div class="form-group">
        <label for="id"> ID Merk </label>
        <input type="text" class="form-control" id="id" formControlName="id">
      </div>
        <div class="form-group">
          <label for="merk"> Nama Merk </label>
          <input type="text" class="form-control" id="merk" formControlName="merk">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </form>
</div>