<div class="container">
    <form [formGroup]="_formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="merk"> Nama Merk </label>
          <input type="text" class="form-control" id="merk" formControlName="merk">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>