<div class="container">
    <button class="btn btn-primary" type="submit" routerLink="/merk/add"> Tambah </button>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col"> ID </th>
            <th scope="col"> Merk </th>
            <th scope="col"> Action </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of _data; index as i">
            <th scope="row"> {{ i+1 }} </th>
            <td> {{ data.id }} </td>
            <td> {{ data.merk }} </td>
            <td> 
                <button type="button" class="btn btn-success" (click)="editData(data.id)"> Edit </button> 
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="hapusData(data.id)"> Hapus </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>