<div class="container">
  <form [formGroup]="_formGroup">
      <div class="form-group">
        <label for="id"> ID </label>
        <input type="text" class="form-control" id="id" formControlName="id">
      </div>
      <div class="form-group">
        <label for="merk"> Nama Merk </label>
        <input type="text" class="form-control" id="merk" formControlName="merk">
      </div>
      <div class="form-group">
        <label for="masuk"> Tanggal Masuk </label>
        <input type="date" class="form-control" id="masuk" formControlName="masuk">
      </div>
      <div class="form-group">
        <label for="masuk"> Tanggal Keluar </label>
        <input type="date" class="form-control" id="out" formControlName="out">
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>