<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink=""> Sistem Gudang </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink=""> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/merk"> Daftar Merk </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trans-masuk"> Transaksi Masuk </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trans-keluar"> Transaksi Keluar </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pcs"> PCS </a>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>