<div class="container">
    <form [formGroup]="_formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="merk"> Merk </label>
          <input type="text" class="form-control" id="merk" formControlName="merk">
        </div>
        <div class="form-group">
            <label for="date"> Tanggal Masuk </label>
            <input type="date" class="form-control" id="date" formControlName="date">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>