<div class="container">
    <form [formGroup]="_formGroup">
        <div class="form-group">
          <label for="merk"> Merk </label>
          <input type="text" class="form-control" id="merk" formControlName="merk">
        </div>
        <div class="form-group">
            <label for="date"> Tanggal Keluar </label>
            <input type="date" class="form-control" id="date" formControlName="date">
          </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </form>
</div>